
<p> <%= link_to "增加新项目", new_project_path %> </p>
<p> <b>你创建的项目:</b> </p>
<% if @projects.blank? %>
   空
<% else %>
  <% for project in @projects %>
    <ul>
      <li> <%= link_to project.name, project_path(project.id) %>   <%= project.description %> </li>
    </ul>
  <% end %>
<% end %>

<p> <b>你参与的项目:</b> </p>
<% if @join_projects.blank?%>
  空
<%else%>
<ul>
  <% for project in @join_projects %>
    <li> <%= link_to project.name, project_path(project.id) %> </li>
  <%end%>
</ul>
<% end %>
